@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* heading styles */
/* nav section styles */
nav{
    display: flex;
    justify-content: space-between;

}
.nav-tex1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 688;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 43px;
    margin-left: 129px;
}
.nav-tex2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    padding: 21px;
    margin-top: 33px;
    margin-right: 143px;
}

/* hero-section styles */
.hero{
    display: flex;
    flex-direction: column;
    height: 561px;
    width: 1240px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}
.hero-img{
    margin-top: 22px;
    height: 206px;
    width: 206px;
}
.hero-heading{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 41px;
    margin: 21px 100px 0px 100px;
    /* line-height: 58px; */
}
.hero-text{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin: 21px 100px 0px 100px;
}
.hero-btn{
    height: 66px;
    width: 208px;
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: white;
    font-family: Azeret Mono;
    font-size: 17px;
    margin-top: 21px;
}
.hero-btn:hover{
    opacity: 0.6;
}

/* main body styles */
/* why-web-dev title & text styles */
.why-web-dev{
    height: 900px;
    width: 900px;
    justify-content: center;
    /* align-items: center; */
    margin: 0 auto;
    margin-top: 40px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 5px;
    /* background-color: brown; */
    /* border: 20px solid green; */
    /* border: 20px black; */
}
.why-web-dev-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}
.why-web-dev-text{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 14px;
}

/* why-web-dev1 styles */
.why-web-dev1{
    display: flex;
    justify-content: space-between;
    width: 814px;
    /* align-items: center; */
    /* height: 289px;
    width: 814px; */
    /* text-align: center; */
    margin: 0 auto;
    margin-top: 40px;
    /* border: 2px solid red; */
    background-color: white;
}
.why-web-dev1-text{
    text-align: left;
    margin-bottom: 50px;
    margin-left: 10px;
}
.why-web-dev1-img{
    height: 217px ;
    width: 260px;
}
.title1{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 21px;
    font-weight: 700;
}
.text1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    margin-top: 14px;
}
.btn1{
    padding: 5px;
    font-family: Azeret Mono;
    font-size: 17px;
    font-weight: 600;
    margin-top: 14px;
}


/* why-web-dev2 styles */
.why-web-dev2{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 40px;
    width: 814px;
    background-color: white;
    /* border: 2px solid red; */
}
.why-web-dev2-text{
    margin-top: 15px;
    margin-left: 50px;
}
.why-web-dev2-img{
    height: 240px;
    width: 240px;
}


/* why-web-dev3 styles */
.why-web-dev3{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 40px;
    width: 814px;
    background-color: white;
    /* border: 2px solid red; */
}
.why-web-dev3-text{
    margin-top: 15px;
    margin-right: 90px;
}
.why-web-dev3-img{
    height: 187px;
    width: 206px;
}


/* my-inspiration-section-styles */
.my-inspiration{
    width: 900px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
iframe{
    margin-top: 20px;
    width: 925px;
    height: 473px;
    border-radius: 10px;
}


/* my current section */
.my-current{
    width: 900px;
    margin: 0 auto;
    margin-top: 80px;
}
.my-current-target-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 19px;
    font-weight: 800;
}
.my-current-target-text{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 19px;
}
.my-current-img{
    width: 48px;
    height: 48px;
}
a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
}
.my-current-target{
    /* height: 197px;
    width: 900px; */
    display: flex;
    /* margin: 0 auto; */
    margin-top: 41px;

    /* justify-content: center; */
    /* align-items: center; */
    gap: 21px;
}
.my-current-target-html{
    border-radius: 16px;
    padding: 34px;
    background: rgba(255, 76, 30, 0.05);
}
.my-current-target-css{
    border-radius: 16px;
    padding: 34px;
    background: rgba(0, 76, 232, 0.05);
}
.my-current-target-js{
    border-radius: 16px;
    padding: 34px;
    background: rgba(255, 223, 0, 0.05);
}
